h1 {
    size: 65px;
    background-color: orange;
    font-family: sans-serif;
    line-height: 20px;
}
ul {
    background-color: blueviolet;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 3em;
}

b {
    font-size: 16px;
    font-style: oblique;
}

.list-p-style {
    background-color:yellow;
}

#itemDaLista1 {
    background-color:rgb(500, 500,);

}
#itemDaLista2 {
    background-color: red;
}
#itemDaLista3 {
    background-color: rgb(300, 200, 100);
}

